<form action="/essay_writing" method="post" enctype="multipart/form-data">

    <div>
    <label for="title">提出する自由英作文の情報（どの大学の何年度？英検何級？など）</label>
    </label>
    <input type="text" name="title" id="title" placeholder="自由英作文の情報を入力してください" required style="width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 4px;">
    </div>
    <div>
    <label for="essay_image">提出する自由英作文の画像</label>
    <input type="file" name="essay_image" id="essay_image" accept="image/*">
    </div>

    <div>
    <input type="submit" value="自由英作文を提出する">
    </div>

</form>

