<h1>面談予約</h1>
<form action="/interview_reservations" method="post">
    <% @grouped_slots.each do |campus, slots| %>
        <div>
            <h2><%= campus %>校</h2>
            <% slots.each do |slot| %>
                <div>
                    <input type="radio" name="id" value="<%= slot["id"] %>">
                    <label><%= slot["interview_slot"] %></label>
                </div>
            <% end %>

        </div>
    <% end %>

    <div class="submit-area" style="margin-top: 10px;">
        <input type="submit" value="面談予約をする">
    </div>
</form>



