<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusCore</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
        <!-- ヘッダー -->
    <header class="header">

    <div class="logo">
        <h1 style="font-size: 36px;">
            <a href="<%= session[:user_id] ? '/mypage' : '/' %>" style="text-decoration: none; color: #1111d4;">
            CampusCore
            </a>
        </h1>
    </div>

<style>
  /* スマホ用のスタイル（768px以下で非表示） */
  @media (max-width: 768px) {
      .welcome-text {
      display: none;
    }
  }
</style>

    <% if session[:user_name] %>
      <div class="header-welcome" style="display: flex; align-items: center; gap: 10px;">
        <div class="welcome-text" style="font-size: 15px;"><%= session[:user_name] %>さん、こんにちは！</div>
        <div><img src="<%= @current_user['avatar'] %>" alt="Avatar" style="max-width: 50px; max-height: 50px; border-radius: 50%;" /></div>
      </div>
    <% end %>
    



        <!-- PC用メニュー -->
        <nav class="pc-menu">
          <% if session[:user_id] %>
          <a href="/mypage">マイページ</a>
          <a href="/instructions">学習アドバイス</a>
          <a href="/plans">勉強計画</a>
        <%#  <a href="/chat_rooms">質問一覧</a>
          <a href="/chat_rooms/new">質問をする</a> %>
          <a href="/diary">勉強日記</a>
          <a href="/consults">面談記録</a>
          <a href="/recommends">おすすめ参考書</a>
          <a href="/logout">ログアウト</a>
          <% end %>
        </nav>

        <!-- ハンバーガー（スマホ用） -->
        <div class="hamburger" onclick="toggleMenu()">
        ☰
        </div>
    </header>

    <!-- スマホメニュー -->
    <nav id="menu" class="menu">
    <% if session[:user_id] %>
        <a href="/mypage">マイページ</a>
        <a href="/instructions">学習アドバイス</a>
        <a href="/plans">勉強計画</a>
<%#         <a href="/chat_rooms">質問一覧</a>
        <a href="/chat_rooms/new">質問をする</a> %>
        <a href="/diary">勉強日記</a>
        <a href="/consults">面談記録</a>
        <a href="/recommends">おすすめ参考書</a>
        <a href="/recommends_list">英語参考書の良書一覧</a>
        <a href="/logout">ログアウト</a>
    <% end %>
    </nav>

    <!-- 背景 -->
    <div id="overlay" onclick="toggleMenu()"></div>
        

    <main>
      <%= yield %>
    </main>

    <script>
    function toggleMenu() {
    const menu = document.getElementById("menu");
    const overlay = document.getElementById("overlay");

    menu.classList.toggle("open");
    overlay.classList.toggle("show");
    }
    </script>
  </body>
</html>


