<h2>新しいパスワードの設定</h2>
<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<form action="/password_reset/update" method="post">
  <input type="hidden" name="token" value="<%= @token %>">
  
  <p>新しいパスワード：<br>
  <input type="password" name="password" required></p>
  <p>パスワードは8文字以上で英字と数字と記号（!@#$%^&*-）を含めてください</p>
  
  <p>パスワード（確認）：<br>
  <input type="password" name="password_confirm" required></p>
  
  <button type="submit">パスワードを更新する</button>
</form>