<form action="/password_reset" method="post">

    <div>
    <input type="email" name="email" placeholder="メールアドレス">
    </div>
   <div>
    <input type="submit" value="パスワードをリセットする">
    </div>
</form>

<div>
    <% if @message %>
        <p><%= @message %></p>
    <% end %>
    <% if @error %>
        <p style="color: red;"><%= @error %></p>
    <% end %>
</div>

<a href="/login">ログイン画面に戻る</a>


 