<form action="/plan_new" method="post">

    <div>
    <input type="text" name="subject" placeholder="教科">
    </div>

    <div>
    <input type="text" name="material" placeholder="教材">
    </div>

    <div>
    <input type="date" name="start_date" placeholder="いつから">
    </div>

    <div>
    <input type="date" name="end_date" placeholder="いつまで">
    </div>

    <div>
    <input type="integer" name="laps" placeholder="何周するか">
    </div>

    <div>
    <input type="integer" name="completed_laps" placeholder="何周やったか">
    </div>

    <div>
    <input type="text" name="purpose" placeholder="目的">
    </div>

    <div>
        <label>進み具合</label><br>
        <input type="radio" name="status" value="in_progress"> 進行中
        <input type="radio" name="status" value="not_started" checked> 未開始
        <input type="radio" name="status" value="completed"> 完了
    </div>

    <div>
    <input type="submit" value="作成">
    </div>
</form>