<h1 style="padding: 20px;">オンラインテストの単元を選択してください</h1>
<div style="display: flex; flex-wrap: wrap; gap: 20px">
  <a href="/quiz/tense" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>時制</h2>
    </div>
  </a>
  <a href="/quiz/auxiliary_verb" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>助動詞</h2>
    </div>
  </a>
  <a href="/quiz/passive" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>受動態</h2>
    </div>
  </a>
  <a href="/quiz/gerunds_infinitives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>品詞・文型</h2>
    </div>
  </a>
  <a href="/quiz/prepositions" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>前置詞</h2>
    </div>
  </a>
  <a href="/quiz/conditionals" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>従属接続詞</h2>
    </div>
  </a>
  <a href="/quiz/gerunds_infinitives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>不定詞</h2>
    </div>
  </a>
  <a href="/quiz/gerunds_infinitives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>動名詞</h2>
    </div>
  </a>
  <a href="/quiz/gerunds_infinitives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>分詞</h2>
    </div>
  </a>
  <a href="/quiz/gerunds_infinitives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>分詞構文</h2>
    </div>
  </a>
  <a href="/quiz/relative_clauses" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>関係詞</h2>
    </div>
  </a>
  <a href="/quiz/relative_clauses" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>仮定法</h2>
    </div>
  </a>
  <a href="/quiz/comparatives_superlatives" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>比較</h2>
    </div>
  </a>
  <a href="/quiz/vocabulary" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>語法</h2>
    </div>
  </a>
  <a href="/quiz/idoms" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>熟語</h2>
    </div>
  </a>
  <a href="/quiz/reading_comprehension" class="unit-card">
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        text-align: center;
      "
    >
      <h2>読解</h2>
    </div>
  </a>
</div>
