<h1>志望校の入力　＊この機能は完成していないので、まだ触らないでください！</h1>
<form action="/target_schools" method="post">
    <div>
        <label for="univ_name">志望校名:</label>
        <input type="text" name="univ_name" id="univ_name" placeholder="志望校名" required><span>大学</span>
    </div>

    <div>
        <label for="faculty_name">学部名:</label>
        <input type="text" name="faculty_name" id="faculty_name" placeholder="学部名" required><span>学部</span>
    </div>

    <div>
        <label for="department_name">学科名:</label>
        <input type="text" name="department_name" id="department_name" placeholder="学科名" required><span>学科</span>
    </div>

    <input type="submit" value="保存">
</form>

<form action="/target_schools_border" method="post">
    <div>
        <label for="univ_name">志望校名:</label>
        <input type="text" name="univ_name" id="univ_name" placeholder="志望校名" required><span>大学</span>
    </div>

    <div>
        <label for="faculty_name">学部名:</label>
        <input type="text" name="faculty_name" id="faculty_name" placeholder="学部名" required><span>学部</span>
    </div>

    <div>
        <label for="department_name">学科名:</label>
        <input type="text" name="department_name" id="department_name" placeholder="学科名" required><span>学科</span>
    </div>

    <input type="submit" value="保存">
</form>

<form action="/target_schools_id" method="post">
    <div>
        <label for="univ_name">志望校名:</label>
        <input type="text" name="univ_name" id="univ_name" placeholder="志望校名" required><span>大学</span>
    </div>

    <div>
        <label for="faculty_name">学部名:</label>
        <input type="text" name="faculty_name" id="faculty_name" placeholder="学部名" required><span>学部</span>
    </div>

    <div>
        <label for="department_name">学科名:</label>
        <input type="text" name="department_name" id="department_name" placeholder="学科名" required><span>学科</span>
    </div>

    <input type="submit" value="保存">
</form>